<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>The Maze Project</title>
    <link href="StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <h1 id="bla">  Maze Game</h1>
        <p>
            Play the original maze game for free.
            <a href="HtmlPage2.html">This is a link</a>
        </p>

        <p id="learn">Learn more.</p>
    </div>
    <img src="mazeIcon.png" id="logo" alt="logo" />
    
</body>
</html>
