<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>The Maze Project</title>
    <link href="StyleSheet1.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <link rel="import" href="/Views/HtmlPage5.html">

</head>

<body>
    <div id="menuBar" > </div>

    <div id="main">
        <h1 id="bla">  Maze Game</h1>
        <p>
            Play the original maze game for free.
        </p>

        <button onclick="myFunction()">Learn more.</button>

        <div id="learn">
            <p>
                This site offers maze games. You can either play by your own or with a friend.
                In order to play with a friend, please register. In singlePlayer mode, you may ask for automatic solution of the maze.
                You may look at previous records in the User Ranking section.
            </p>
        </div>
    </div>
    <img src="../Views/mazeIcon.png"/>


    
    <script>
        var x = document.getElementById('learn').style.display='none';
        function myFunction() {
            var x = document.getElementById('learn');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }

        $(function () {

            $("#menuBar").load("../Views/UpperMenu.html");
        });
    </script>
    
</body>
</html>
