<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="../Scripts/jQuery.mazeBoard.js"></script>
</head>

<body>

    <div id="menuBar"> </div>
    <h1 id="headline">   Multi Player</h1>

    <canvas id="myCanvas" width="500" height="500" style=" border:1px solid #000000;"></canvas>
    <canvas id="oponentCanvas" width="500" height="500" style=" border:1px solid #000000;"></canvas>
    <button id="btnloading" class="btn btn-lg btn-warning"><span class="glyphicon-refresh-animate glyphicon glyphicon-refresh"></span> Loading...</button>


    <div class="col-xs-1">
        <div class="form-group">

            <label for="algorithmSelect" class="col-2 col-form-label">Algorithm</label>
            <div>
                <select id="algorithmSelect" class="selectpicker col-2 col-form-label">
                    <option>DFS</option>
                    <option>BFS</option>
                </select>
            </div>
            <br />
            <div>
                <span class="input-group-btn">
                    <button id="btnJoin" class="btn btn-primary" type="button" onclick="joinGame()">Join Game</button>
                </span>
            </div>

            <h3>Start new game</h3>
            <label for="mazeName" class="col-2 col-form-label">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" value="myMaze" id="mazeName">
            </div>

            <label for="mazeRows" class="col-2 col-form-label">Rows</label>
            <div class="col-10">
                <input class="form-control" type="number" value="10" id="mazeRows">
            </div>

            <label for="mazeCols" class="col-2 col-form-label">Cols</label>
            <div class="col-10">
                <input class="form-control" type="number" value="10" id="mazeCols">
            </div>

            <br />
            <div>
                <span class="input-group-btn">
                    <button id="btnStart" class="btn btn-primary" type="button" onclick="startGame()">Start Game</button>
                </span>
            </div>
        </div>

    </div>





    <style>
        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -ms-animation: spin .7s infinite linear;
            -webkit-animation: spinw .7s infinite linear;
            -moz-animation: spinm .7s infinite linear;
        }

        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }

            to {
                transform: scale(1) rotate(360deg);
            }
        }

        @-webkit-keyframes spinw {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @-moz-keyframes spinm {
            from {
                -moz-transform: rotate(0deg);
            }

            to {
                -moz-transform: rotate(360deg);
            }
        }
    </style>


    <script>
        $("#menuBar").load("/Views/UpperMenu.html");
    </script>

    <script>

        var nameOfMazeGenerated;

        function solveGame() {
            $('#btnSolve').addClass('disabled');
            var algorithm = $("#algorithmSelect").val();
            var algoCode = 1;
            if (algorithm == "DFS") {
                var algoCode = 0;
            }
            var apiuri = "http://localhost:4714/api/SinglePlayer/" + nameOfMazeGenerated + "/" + algoCode;
            $.get(apiuri).done(function (solutionJson) {
                var solutionString = solutionJson.Solution;
                var solutionArray = new Array(solutionString.length);
                for (var i = 0; i < solutionString.length; i++){
                    solutionArray[i] = solutionString[i];
                 }
                var board = $("#myCanvas").solve(solutionArray);
            });
        }


        function startGame() {
                $('#btnStart').addClass('disabled');
                $('#btnSolve').removeClass('disabled');
                var rows = $("#mazeRows").val();
                var cols = $("#mazeCols").val();
                var mazeName = $("#mazeName").val();
                nameOfMazeGenerated = mazeName;
                var apiuri = "http://localhost:4714/api/SinglePlayer/" + mazeName + "/" + rows + "/" + cols;
                $.post(apiuri).done(function (mazeJson) {

                    //when done load the maze propertieis from the json
                    var mazeString = mazeJson.Maze;

                    //console.log("json: " + mazeString);
                    var startRow = mazeJson.Start.Row;
                    var startCol = mazeJson.Start.Col;
                    var endRow = mazeJson.End.Row;
                    var endCol = mazeJson.End.Col;

                    var rows = mazeJson.Rows;
                    var cols = mazeJson.Cols;
                    var mazeArray = new Array(rows);
                    for (var i = 0; i < rows; i++) {
                        mazeArray[i] = new Array(cols);
                    }

                    //fill maze board array
                    for (var i = 0; i < rows; i++) {
                        for (var j = 0; j < cols; j++) {
                            mazeArray[i][j] = 1;
                            if (mazeString[i * rows + j] == '0') {
                                mazeArray[i][j] = 0;
                            }
                        }
                    }

                    console.log("TEST " + endCol + "  " + endRow);
                    //update the board
                    var board = $("#myCanvas").initialize(mazeArray, startRow, startCol, endRow, endCol);
                    var board = $("#myCanvas").drawMaze();
                    console.log(board);
                });
            }



            function myFunction(event) {
                var x = event.which || event.keyCode;
                //alert(x);
            }

            $(document).keydown(function (e) {
                switch (e.which) {
                    case 37: // left
                        console.log("yay2");
                        break;

                    case 38: // up
                        break;

                    case 39: // right
                        break;

                    case 40: // down
                        break;

                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });

    </script>
    <script>

            $(document).ready(function () {
                $('#btnloading').hide();

                $('#btnSolve').addClass('disabled');
                /*
                var img = new Image();
                img.onload = function () {
                    alert("image is loaded");
                    $(img).appendTo('body');
                }
                //img.src = "http://pierre.chachatelier.fr/programmation/images/mozodojo-original-image.jpg";
                img.src = "../Views/mazeIcon.png";
                $.getJSON("http://localhost:4714/api/SinglePlayer").done(function (data) {
                    console.log(data);
                })
                */
                /*
                //send asynchronous ajax post request for a maze
                var apiuri = "http://localhost:4714/api/SinglePlayer/mymaze/15/15"
                $.post(apiuri).done(function (mazeJson) {
                    //when done load the maze propertieis from the json
                    var mazeString = mazeJson.Maze;
                    console.log("json: " + mazeString);
                    var rows = mazeJson.Rows;
                    var cols = mazeJson.Cols;
                    var mazeArray = new Array(rows);
                    for (var i = 0; i < rows; i++) {
                        mazeArray[i] = new Array(cols);
                    }
                    //fill maze board array
                    for (var i = 0; i < rows; i++) {
                        for (var j = 0; j < cols; j++) {
                            mazeArray[i][j] = 1;
                            if (mazeString[i * rows + j] == '0') {
                                mazeArray[i][j] = 0;
                            }
                        }
                    }
                    //update the board
                    $("#myCanvas").mazeBoard(mazeArray);
                });
                var maze = [[0, 1, 0, 1, 0], [0, 1, 0, 1, 1], [0, 0, 1, 0, 1], [0, 1, 0, 0, 0]];

           */
            })

    </script>


</body>

</html>