<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
    <h1> User Ranking</h1>
    <img id="loader" src="../Views/Loading_icon.gif">
    <table id="table" class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>UserName</th>
                <th>Wins</th>
                <th>Loses</th>
            </tr>
        </thead>
        <tbody id="table_body">
            <!--
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr> -->

        </tbody>
    </table>
</body>

</html>

<script>

    var apiuri = "/api/Users";
    $("table").hide();
    $.get(apiuri).done(function (response, status) {


        //create users array
        var users = new Array(response.length);
        for (var i = 0; i < response.length; i++) {
            var userName = response[i].UserName;
            var wins = response[i].Wins;
            var loses = response[i].Loses;
            users[i] = { name: userName, won: wins, lost: loses };
        }

        //sort users
        users.sort(function (a, b) {
            var keyA = a['won'] - a['lost'];
            var keyB = b['won'] - b['lost'];
            // Compare the 2 keys
            if (keyA > keyB) return -1;
            if (keyA < keyB) return 1;
            return 0;
        });

        for (var i = 0; i < users.length; i++) {
            var name = users[i]['name'];
            var wins = users[i]['won'];
            var loses = users[i]['lost'];
            $('#table_body').append("<tr><th scope='row'>" + i + "</th><td>" +name +"</td> <td>" + wins + "</td> <td>" + loses + "</td>"+   "</tr>");
        }
        $("#loader").hide();
        $("#table").show();

    }).fail(function (response, status) {
        alert("not yay");
        $("loader").hide();
    });
</script>