<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="../Scripts/inputForms/Settings.js"></script>
</head>

<body>
    <form id="mainForm">
        <div id="menuBar"> </div>
        <h1 class="page-header" id="headline">   Settings</h1>
        <div class="alert alert-info">
            <strong></strong> Please enter your default values for number of rows, columns and solver algorithm.
        </div>
        <div class="col-xs-2">
            <label for="mazeRows" class="col-2 col-form-label">Rows</label>
            <div class="col-10">
                <input class="form-control" type="number" value="10" id="mazeRows" name="mazeRows">
            </div>

            <label for="mazeCols" class="col-2 col-form-label">Cols</label>
            <div class="col-10">
                <input class="form-control" type="number" value="10" id="mazeCols" name="mazeCols">
            </div>

            <label for="algorithmSelect" class="col-2 col-form-label">Algorithm</label>
            <div>
                <select id="algorithmSelect" class="selectpicker col-2 col-form-label">
                    <option>DFS</option>
                    <option>BFS</option>
                </select>
            </div>

            <br />
            <div>
                <span class="input-group-btn">
                 <!--<button id="btnSave" class="btn btn-primary" type="button" onclick="saveSettings()">Save</button>-->
                     <button id="btnSave" class="btn btn-primary" type="submit" onclick="saveSettings()">Click me</button> 
                </span>
            </div>

        </div>
    </form>
</body>
</html>
