<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Settings</title>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>

</head>

<body>
    <form id="mainForm">
        <div id="menuBar"> </div>
        <h1 class="page-header" id="headline">   Settings</h1>
        <div class="alert alert-info">
            <strong></strong> Please enter your default values for number of rows, columns and solver algorithm.
        </div>
        <div class="col-xs-2">
            <label for="mazeRows" class="col-2 col-form-label">Rows</label>
            <div class="col-10">
                <input class="form-control" type="text" id="mazeRows" required>
            </div>

            <label for="mazeCols" class="col-2 col-form-label">Cols</label>
            <div class="col-10">
                <input class="form-control" type="text" min="2" max="100" value="10" id="mazeCols" required>
            </div>

            <label for="algorithmSelect" class="col-2 col-form-label">Algorithm</label>
            <div>
                <select id="algorithmSelect" class="selectpicker col-2 col-form-label">
                    <option>DFS</option>
                    <option>BFS</option>
                </select>
            </div>

            <br />
            <div>
                <span class="input-group-btn">
                    <button id="btnSave" class="btn btn-primary" type="button" onclick="saveSettings()">Save</button>
                </span>
            </div>

        </div>
    </form>
</body>
</html>

<script>

    //$("#mainForm").validate();


    //$.validator.addMethod('integer',
    //    function (value, element) {
    //        return Number.isInteger(value);
    //    }, 'Enter an integer.');


    //$.validator.addClassRules({
    //    integer: { integer: true }
    //});


    var rules = {
        rules: {
            mazeRows: {
                //digits: true,
                required: true,
                //number: true,
                range: [13, 23]
            },
            mazeCols: {
                digits: true,
                required: true
            }
        }
    };
   


    
    $("#menuBar").load("/Views/UpperMenu.html");

    function saveSettings() {
        if ($('#mainForm').validate({ rules })){ 
        var rows = $("#mazeRows").val();
        var cols = $("#mazeCols").val();
        var algo = $("#algorithmSelect").val();
        if ($('#mainForm').valid() && Number.isInteger(rows) && Number.isInteger(cols)) {
            alert("yay");
            sessionStorage.setItem("rows", rows);
            sessionStorage.setItem("cols", rows);  
            sessionStorage.setItem("algo", algo); 
        } else {
            alert("nothing happened. " + $('#mainForm').valid() + Number.isInteger(rows) + Number.isInteger(cols));
            var t = $('#mainForm').valid();
            //alert(t);
           // alert("error");
        }
        } else {
            alert("error");
        }
    }
</script>