
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
</head>

<body>
    <div id="menuBar"> </div>

    <div class="center-block">
        <div class="col-md-2 col-md-offset-2">
            <form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <h5 class="form-signin-heading">Already a user? <a href="../Views/Login.html">Login.</a></h5>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

                <input id="inputName" class="form-control" placeholder="UserName" required autofocus>
                <label for="inputName" class="sr-only">UserName</label>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword2" class="sr-only">Renter Password</label>
                <input type="password" id="inputPassword2" class="form-control" placeholder="Verify Password" required>

                <button id="btnLogIn" onclick="signIn()" required class="btn btn-lg btn-primary btn-block" type="button" formnovalidate>Log in</button>
               
            </form>
            <div id="passwordsMisMatch" class="alert alert-info">
                <strong>Error! </strong>passwords don't match.
            </div>
            <div id="userAlreadyExist" class="alert alert-info">
                <strong>Error! </strong>User of the same name already exists.
            </div>
            <img id="loader" src="../Views/Loading_icon.gif">
        </div>
    </div> <!-- /container -->

    <!--  
    <div class="center-block">
        <div class="col-md-2 col-md-offset-0">
            <form class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    -->

    <script>
        $("#menuBar").load("/Views/UpperMenu.html");
        $("#passwordsMisMatch").hide();
        $("#userAlreadyExist").hide();
        $("#loader").hide();

        function yay() {
            alert("hello");
        }

        
        function signIn() {

            var userName = $("#inputName").val();
            var password = $("#inputPassword").val();
            if (userName == "" || password == "") {
                alert("Please enter userName and password.");
                return;
            }
            var reenteredPassword = $("#inputPassword2").val();
            if (reenteredPassword != password) {
                $("#passwordsMisMatch").show();
                return;
            }
            $("#loader").show();
            var apiuri = "/api/Users/addUser/" + userName + "/" + password;
            $.get(apiuri).done(function (response, status) {

                sessionStorage.setItem("name", userName);
                window.location.href = "../Views/index.html";
                $("#loader").hide();
            }).fail(function (response, status) {               
                $("#loader").hide();
                $("#userAlreadyExist").show();
            });
        }
    </script>
</body>
</html>
