body {
    background-color: white; 
}

#main #logo #learn {
    float: right;
    width: 18%;
    height: 10%;
    margin-top: 30px;
}

h1{

    font-size: xx-large;
}

#main {
    background-color: #F0FFFF;
    margin: 0 auto;
    font-family: Century Gothic;
    width: 800px;
}

#learn {
    background-color:  #87CEFA;
}

