<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <div style="border:1px dashed red">
        <form action="/action_page.php">
            Username:<br />
            <input type="text" name="Username" value=""><br />
            Password:<br />
            <input type="text" name="Password" value=""><br /><br />
            <input type="submit" value="login">
        </form>
    </div>
    <a href="http://localhost:3658/HtmlPage2.html">Register as a new user</a>
</body>
</html>
